/* secondary logo font */
@import url('https://fonts.cdnfonts.com/css/baron-neue'); 
@import url('https://fonts.cdnfonts.com/css/darker-grotesque');
                

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Darker Grotesque', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: large;
  background-color: #FEF5ED;
  animation: fadeIn .7s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 900;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Reference */
/* These components must be styled with inline JSX to override defaults */

/* success button: */
/* 
  className="button" style={{
  backgroundColor: "#75BCFA",
  color: "#021E36",
  fontWeight: 800,
  border: "none",
  borderRadius: "0px",
  transition: "box-shadow 0.1s",
  fontSize: "larger"
  }} 
*/

/* input form */
/* style={{
  fontSize: "larger",
  borderRadius: 0,
  border: "1px solid #021E36"
}} */

/* regular body text */
/* className="bodytext" */

/* Global Components */

.button:hover {
  box-shadow: #021E36 1px 1px 1px;
}

.arrow {
  background-color: transparent;
}

.bodytext {
  font-size: larger;
}

.textReset {
  background-color: transparent;
  font-size: larger;
}

.coffeeImageInList {
  width: 200px;
}

.textDetailsInList {
  font-size: x-large;
}

.modal {
  background-color: transparent;
}

.modal-dialog {
  background-color: transparent;
}

.modal-header,
.modal-title,
.modal-body,
.modal-footer {
  background-color: #FFF;
}

.offcanvas-header,
.offcanvas-title,
.offcanvas-body,
.offcanvas-backdrop {
  background-color: transparent;
}

@media (max-width: 992px) {
  .coffeeImageInList {
    width: 100px;
  }
  .textDetailsInList {
    font-size: large;
  }
}

/* navbar components */

.navbar,
.container-fluid,
.navbar-toggler,
.togglerContainer,
.togglerContainerUnauth,
.collapse,
.nav-item,
.navlink-image,
.navbar-toggler-icon,
.navbar-brand,
.navbar-logo,
.navbar-icons,
#profileIcon,
#cartIcon {
  background-color: #75BCFA;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  height: 50px;
  transition: .25s
}

.navbar-logo:hover {
  height: 52px;
}

.togglerContainer {
  margin-right: 16.5%;
}

.togglerContainerUnauth {
  margin-right: 25.5%;
}

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

.nav-link {
  transition: .25s
}

.nav-link:hover {
  font-weight: 900;
  text-shadow: #FEF5ED 1px 1px 1px;
}

.navlink-image {
  height: 20px;
  margin-top: 15px;
  transition: .25s;
}

.navlink-image:hover {
  height: 21px;
}

#profileIcon,
#cartIcon {
  margin: 10px;
  font-size: 25px;
  transition: .25s
}

#profileIcon:hover,
#cartIcon:hover {
  font-size: 28px;
}

@media (max-width: 1300px) {
  .togglerContainer {
    margin-right: 1%;
  }
}

@media (max-width: 992px) {
  .togglerContainer,
  .togglerContainerUnauth {
    order: 1;
    margin-right: 10px;
    padding-right: 0px;
  }
  .navbar-brand {
    order: 2;
  }
  .navbar-icons {
    order: 3;
  }
  .navlink-image {
    display: none;
  }
}

@media (max-width: 844px) {
  .navbar-logo {
    height: 42px;
  }
  #profileIcon {
    margin: 5px;
    font-size: 20px;
  }
  #cartIcon {
    margin: 7px;
    font-size: 20px;
  }
}

@media (max-width: 381px) {
  .navbar-logo {
    height: 35px;
  }
}

/* Home page components */

.home {
  position: relative;
}

.headerImageContainer {
  display: flex;
  max-width: 100%;
}

.headerImageContainer img {
  flex: 1;
  max-width: 50%;
}

.headerButtonContainer {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #FEF5ED;
  padding: 20px;
  transition: 0.25s
}

.headerButtonContainer:hover {
  box-shadow: rgb(2, 30, 54, 0.3) 0 0 10px
}

.homeBottom {
  display: flex;
  max-width: 100%;
}

.homeBottom div {
  flex: 1;
  max-width: 50%;
}

.homeMapContainer,
.emailSignupContainer {
  padding: 40px;
  text-align: center;
}

/* Footer  */

.footer {
  text-align: center;
  width: 100%;
}

.footer img {
  max-width: 10%;
  transition: .25s
}

.footerLogo:hover {
  max-width: 10.5%;
  cursor: pointer;
}

.footerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerLink {
  margin: 10px;
  font-size: xx-large;
  transition: .25s
}

.footerLink:hover {
  font-size: 35px;
  cursor: pointer;
}

.footerLinks img {
  margin: 10px;
  width: 40px;
}

@media (max-width: 1100px) {
  .homeHeaderContainer {
    display: flex;
    flex-direction: column;
  }
  .headerButtonContainer {
    position: static;
    top: auto;
    left: auto;
    transform: none;
  }
  .homeBottom {
    flex-direction: column;
    text-align: center;
  }
  .homeBottom div {
    flex: 1;
    max-width: 100%;
  }
}

/* Coffee List Components */

.coffeeListHeaderGroup {
  display: flex;
  justify-content: space-between;
}

.coffeeListHeader {
  padding-bottom: 15px;
}

.coffeeListSort {
  padding-top: 15px;
}

#sortSelect,
.sortLabel,
.sortDropdown {
  background-color: #FEF5ED;
  border: none;
}

#sortSelect {
  border-radius: 0;
}

.sortLabel {
  padding-top: 8px;
}

.sortDropdown {
  border-radius: 0;
}

@media (max-width: 992px) {
  .coffeeListHeaderGroup {
    justify-content: center;
    flex-direction: column;
  }
  .coffeeListSort {
    padding-top: 0px;
  }
}

.coffeeCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 20rem;
  margin: 20px;
  background-color: #FEF5ED;
  border: 0;
  transition: .25s
}

.card:hover {
  width: 20.5rem;
  cursor: pointer;
}

.card-body,
.card-title,
.mb-2,
.card-text {
  background-color: #FEF5ED;
  text-align: center;
}

/* Coffee Detail */

.coffeeDetailsContainer {
  display: flex;
  justify-content: space-between;
}

.coffeeDetailsSelectionsContainer {
  order: 1;
  margin-top: 40px;
  width: 600px;
}

.coffeeDetailsForm {
  width: 100%;
}

.image-container {
  order: 2;
  margin-top: 25px;
  max-width: 500px;
}

.coffeeDetailImage {
  width: 100%;
}

#coffeeDetailsInfo {
  margin-top: 20px;
  margin-bottom: 50px;
  /* font-size: larger; */
}

.popover {
  border: none;
}

.popover-inner {
  border: none;
  border-radius: 0px;
  background-color: #FFF;
}

.popover-body {
  background-color: #FFF;
  
}

@media (max-width: 992px) {
  .coffeeDetailsContainer {
    flex-direction: column;
    align-items: center;
  }
  .coffeeDetailImage {
    order: 1
  }
  .coffeeDetailsSelectionsContainer {
    order: 2;
    max-width: 500px 
  }
}

@media (max-width: 500px) {
  .coffeeDetailsSelectionsContainer {
    width: 300px;
  }
  .image-container {
    width: 300px;
  }
}

/* Checkout  */

.checkoutContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.addressContainer,
.cartContainer {
  flex: 1;
  max-width: 45%;
}

.cartContainer {
  margin-top: 50px;
}

/* media query: above x width, cart and addresses are side by side. below, in a row. */
@media (max-width: 550px) {
  .checkoutContainer {
    display: flex;
    flex-direction: column;
  }
  .addressContainer,
  .cartContainer {
    flex: 1;
    max-width: 100%;
  }
  .cartContainer {
    margin-top: 20px;
  }
}

/* Inventory Manager List */

.inventoryListHeaderGroup {
  display: flex;
  justify-content: space-between;
}

.inventoryListHeader {
  padding-bottom: 15px;
}

.inventoryListSort {
  padding-top: 10px;
}

/* Product Modify Form  */

